source https://api.nuget.org/v3/index.json
storage: none

// app
nuget Fable.Core
nuget Fable.Browser.Dom
nuget Fable.Elmish
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR
nuget Fable.Elmish.React
nuget Fable.React
nuget Thoth.Json

// tests
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio >= 2.0 version_in_path: true // https://github.com/xunit/xunit/issues/1521#issuecomment-337556655
nuget FsUnit.xUnit
